<% provide(:title,'Home') %>

<div class ="center hero-unit">
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the <a href="#">Sample App</a>
    sample application
  </h2>

  <%= link_to "Push app",pushapp_path,class: "btn btn-large btn-primary" %>
  <%= link_to "show apps","#",class: "btn btn-large btn-primary" %>
  <%= link_to "show services","#",class: "btn btn-large btn-primary" %>
</div>

