<% provide(:title,'All Apps') %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        All Apps
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% unless @register_apps.empty? %>
      <%= render 'register_apps' %>
    <% end %>
    <% unless @apps.empty? %>
      <%= render 'none_register_apps' %>
    <% end %>
  </div>

</div>